 /* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}
 .not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: grey;
}
table, th, td {
  //border: 1px solid black;
  //border-collapse: collapse;
	text-align: center
}
/* Style the caret/arrow */
.careta {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.careta::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nesteda {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
 .thcenter {
  text-align: center;
} 
